  <div class="side-top">
    <div class="user">
      <%= link_to current_user.name, edit_user_path(current_user) %>
      <!-- リンク先は.今ログインしてるユーザー名を表示,Prefix_path(リンク名)にログインしてるユーザー名を取り出す-->
    </div>
    <div class="chat-create">
      <%= link_to "チャットを作成する", new_room_path %>
    </div>
  </div>
    <div class="rooms">
      <% current_user.rooms.each do |room| %>
        <div class="chat-room">
          <%= link_to room.name, room_messages_path(room) %>
        </div>
      <% end %>
    </div>