.wrapper {
  display: flex;
}

.side-main {
  width: 300px;
  height: 100vh;
  background-color: #253141
}

.side-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
}

.logo a {
  font-size: 16px;
  text-decoration: none;
  color: #fafafa;
}

.chat-create a {
  border: 1px solid lightblue;
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.chat-room {
  padding: 20px 20px 40px;
}

.chat-room a {
  text-decoration: none;
  color: white;
}

.chat-main {
  width: calc(100Vw - 300px);
  background-color: #ffffff;
}

.chat-top {
  display: flex;
  justify-content: space-between;
  height: 100px;
  padding: 0 40px;
}

.chat-name {
  margin-top: 36px;
  font-size: 24px;
  color: #333;
}

.chat-end {
  margin-top: 40px;
}

.chat-end a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.messages {
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  background-color: #fafafa;
}

.chat-bottom {
  height: 90px;
  padding: 20px 40px;
  background-color: #dddddd;
}